body{
   background-color: aqua;
}
h1{
    color:rgb(212, 205, 205)
}
div{
    align-items:center;
    justify-content:space-between;
    display: flex;
}
.nav_links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.work1{
    background-color: black;
    color: rgb(32, 32, 141);
    align-items: center;
}
h2{
   background-color: brown;
    align-items: center;
    justify-content: center;
}
